# =========================
# Node / pnpm
# =========================
node_modules/
.pnpm-store/
.pnpm-debug.log*

# =========================
# Env files (SEKRETY)
# =========================
.env
.env.*
!.env.example

# =========================
# Next.js
# =========================
.next/
out/
.vercel/

# =========================
# NestJS / build
# =========================
dist/
build/

# =========================
# Prisma
# =========================
prisma/migrations/
# (migrations dodasz później, na MVP nie commitujemy)

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# =========================
# Turbopack / cache
# =========================
.turbo/
.cache/

# =========================
# Misc
# =========================
coverage/
